header {
    width: 95%;
    background-color: #276e90;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer {
    width: 95%;
    background-color: #0a3143;
    color: #fff;
    text-align: left;
    padding: 20px;
}

body {
    background-color: #efefef;
}

#canvas {
    width: 50%;
    height: 90%;
    background-color: #efefef;
    padding: 20px;
}

.container {
    width: 95%;
    height: 500px;
    background-color: #cecfc9;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.point {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;  
    margin-top: 10px;
}

.point label,
.point input {
    margin-right: 20px;
}

