header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    color: #fff;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
}

footer {
    width: 100%;
    background-color: #3c3c3c;
    color: #fff;
    text-align: left;
    margin-top: 10px;
}

body {
    background-color: #efefef;
}

h2 {
    color: #515151;
}

div {
    margin-bottom: 5px;
}

#canvas {
    height: 100%;
    width: 100%;
    background-color: #efefef;
}

.container {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.point {
    width: 30;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;  
    margin-top: 10px;
    margin-left: 10px;
}

.point label,
.point input {
    margin-right: 20px;
}

.containerPoint {
    background-color: #ffffff;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
    z-index: 1;
}

.coordinates {
    display: flex;
    align-items: center;
}

#clearButton {
    background-color: #b5b5b5;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#clearButton:hover {
    background-color: #8c8c8c;
}